<?xml version="1.0"?>
<!--
    Blog - Module for testing custom EAV tables
    Author: Zoran Šalamun(zoran.salamun@inchoo.net)
-->
<config>
    <modules>
        <Inchoo_Blog>
            <version>1.0.0.0</version>
        </Inchoo_Blog>
    </modules>
    <global>
        <models>
            <inchoo_blog>
                <class>Inchoo_Blog_Model</class>
                <resourceModel>inchoo_blog_resource</resourceModel>
            </inchoo_blog>
            <inchoo_blog_resource>
                <class>Inchoo_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>inchoo_blog_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>inchoo_blog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>inchoo_blog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>inchoo_blog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>inchoo_blog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>inchoo_blog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>inchoo_blog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </inchoo_blog_resource>
        </models>
        <helpers>
            <inchoo_blog>
                <class>Inchoo_Blog_Helper</class>
            </inchoo_blog>
        </helpers>
        <blocks>
            <inchoo_blog>
                <class>Inchoo_Blog_Block</class>
            </inchoo_blog>
        </blocks>
        <resources>
            <inchoo_blog_setup>
                <setup>
                    <module>Inchoo_Blog</module>
                    <class>Inchoo_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inchoo_blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <inchoo_blog>
                <use>standard</use>
                <args>
                    <module>Inchoo_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </inchoo_blog>
        </routers>
    </frontend>
</config>